@model IEnumerable<IRHL.MVC.Models.Game>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TeamOneID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeamOneGoals)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeamOnePIM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeamTwoID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeamTwoGoals)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeamTwoPIM)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TeamOneID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeamOneGoals)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeamOnePIM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeamTwoID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeamTwoGoals)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeamTwoPIM)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.GameID }) |
            @Html.ActionLink("Details", "Details", new { id=item.GameID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.GameID })
        </td>
    </tr>
}

</table>
